<!--<div class="row">
    <al-planning-workday-item
      *ngFor="let workday of workday$ | async"
      [workday]="workday"
      class="col-md-4">
    </al-planning-workday-item>
</div>-->
<!--
<div class="row">
    <al-planning-workday-item
     *ngFor="let workday of workday$ | async"
     [dueDate]="workday.dueDate"    
     [doneTasks]="workday.doneTasks" 
     [remainingTasks]="workday.remainingTasks"
     (workdayRemoved)="onWorkdayRemoved($event)"
     class="col-md-4">
    </al-planning-workday-item>
</div>
-->

<div class="row">
  <al-planning-workday-item
    *ngFor="let workday of workdays"
    [workday]="workday"
    (workdayRemoved)="onWorkdayRemoved(workday)"
    class="col-md-4 d-flex">
  </al-planning-workday-item>
</div>